<div class="card border-primary mb-3">
    <div class="card-header">Clients</div>
    <div class="card-body text-primary">
    <h5 class="card-title">Client list</h5>
    
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>id</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>email</th>
    <th>phone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients.moves">
    <td>{{ client.move.name }}</td>
    <td>{{ client.move.url }}</td>
    </tr>
    </tbody>
    </table>
    
    </div>
    </div>